#cHeader{
    min-width: 1226px;
    height: 100px;
    border-top: 1px solid #dadce0;
    border-bottom: 2px solid #ff6700;
    background: white;
}
.cHeader_inner{
    height: 100px;
    padding: 26px 0;
    box-sizing: border-box;
}
.cHeader_logo{
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
    background: #ff6700;
    overflow: hidden;
    margin-right: 45px;
}
.cHeader_logo>a{
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    text-indent: -9999px;
    overflow: hidden;
}
.cHeader_logo>.cHeader_logo_a1{
    background: url(http://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 0;
}
.cHeader_logo>.cHeader_logo_a2{
    background: url(http://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat center;
    background-size: cover;
    left: -48px;
    top: 0;
}

.cHeader_inner_middle{
    float: left;
    height: 48px;
}
.cHeader_inner_middle>h2{
    height: 100%;
    font-size: 28px;
    line-height: 48px;
    color: #424242;
    margin-right: 16px;
    float: left;
}
.cHeader_inner_middle>p{
    float: left;
    font-size: 12px;
    color: #757575;
    height: 18px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.cHeader_inner_right{
    display: none;
}
#cEmpty,#main>.container{
    display: none;
}
#cEmpty{
    font-size: 20px;
}
#main{
    background: #f5f5f5;
    min-width: 1226px;
    padding-top: 38px;
}
.product{
    width: 100%;
    background: white;
}
.product>.product_head{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #e0e0e0;
}
.product>.product_head>ul>li{
    float: left;
    height: 70px;
    line-height: 70px;
}
.product>.product_head>ul>li:nth-child(1){
    width: 110px;   
}
.product>.product_head>ul>li:nth-child(2){
    width: 120px;   
}
.product>.product_head>ul>li:nth-child(3){
    width: 380px;   
}
.product>.product_head>ul>li:nth-child(4){
    width: 140px;
    padding-right: 18px;
    text-align: center;   
}
.product>.product_head>ul>li:nth-child(5){
    width: 150px;
    text-align: center;   
}
.product>.product_head>ul>li:nth-child(6){
    width: 120px;
    padding-right: 81px;
    text-align: right;   
}
.product>.product_head>ul>li:nth-child(7){
    width: 80px;
    text-align: center;   
}
.product>.product_head>ul>li:nth-child(1)>span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    margin-right: 15px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.product>.product_head>ul>li:nth-child(1)>span>i{
    position: absolute;
    top: -26px;
    left: 1px;
    color: #757575;
    opacity: 0;
}
.product>.product_list{
    width: 100%;
    padding: 15px 0;
}
.product>.product_list>.product_list_child{
    width: 100%;
}
.product>.product_list>.product_list_child>ul{
    width: 100%;
}
.product>.product_list>.product_list_child>ul>li{
    float: left;
    height: 86px;
    box-sizing: border-box;
}
.product>.product_list>.product_list_child>ul>li:nth-child(1){
    width: 110px;
    
}
.product>.product_list>.product_list_child>ul>li:nth-child(1)>.sp1{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.product>.product_list>.product_list_child>ul>li:nth-child(1)>.sp1>i{
    color: #757575;
}
.product>.product_list>.product_list_child>ul>li:nth-child(1)>.sp2{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;

}
.product>.product_list>.product_list_child>ul>li:nth-child(2){
    width: 120px;
    padding-right: 40px;
    padding-top: 3px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(2)>img{
    width: 80px;
    height: 80px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(3){
    width: 380px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(3)>.product_name{
    font-size: 18px;
    font-weight: normal;
    height: 100%;
    line-height: 86px;
    color: #424242;
}
.product>.product_list>.product_list_child>ul>li:nth-child(4){
    width: 158px;
    padding-right: 18px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(4)>.product_price{
    height: 100%;
    line-height: 86px;
    color: #424242;
    font-size: 14px;
    text-align: center;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5){
    width: 150px;
    padding-top: 23px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5)>.upnum_box{
    width: 148px;
    height: 38px;
    border: 1px solid #e0e0e0;
    position: relative;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5)>.upnum_box>span{
    display: block;
    width: 38px;
    height: 38px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5)>.upnum_box>.cut{
    left: 0;
    top: 0;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5)>.upnum_box>.add{
    top: 0;
    right: 0;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5)>.upnum_box>span>i{
    color: #757575;
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(5)>.upnum_box>.shop_num{
    display: block;
    width: 72px;
    height: 38px;
    border: none;
    outline: none;
    margin:0 auto;
    text-align: center;
}
.product>.product_list>.product_list_child>ul>li:nth-child(6){
    width: 201px;
    padding-right: 81px;
    text-align: right;
    color: #ff6700;
}
.product>.product_list>.product_list_child>ul>li:nth-child(6)>span:nth-child(1){
    display: inline-block;
    vertical-align: middle;

}
.product>.product_list>.product_list_child>ul>li:nth-child(6)>span:nth-child(2){
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}
.product>.product_list>.product_list_child>ul>li:nth-child(7){
    width: 80px;
    position: relative;
}
.product>.product_list>.product_list_child>ul>li:nth-child(7)>.del{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.product>.product_list>.product_list_child>ul>li:nth-child(7)>.del>i{
    font-size: 16px;
    color: #757575;
}
.product>.product_list>.product_list_child>ul>li:nth-child(8){
    display: none;
}

/* 结算 */
.pay{
    background: white;
    height: 50px;
}