#det_box1{
    min-width: 1226px;
    height: 63px;
    background: white;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .07);
}
.det_box1_inner{
    height: 63px;
}
.det_box1_inner>h3{
    float: left;
    font-size: 16px;
    color: #424242;
    text-align: center;
    height: 63px;
    line-height: 63px;
    margin-right: 13px;
    font-weight: normal;
}
.det_box1_inner>.det_box1_u1{
    float: left;
}
.det_box1_inner>.common3>li{
    float: left;
    padding: 0 10px;
    text-align: center;
    height: 63px;
    position: relative;
}
.det_box1_inner>.det_box1_u1>li::before{
    content: " ";
    width: 1px;
    height: 11px;
    background: #424242;
    position: absolute;
    top: 27px;
    left: 0;
}
.det_box1_inner>.common3>li>a{
    font-size: 12px;
    color: #616161;
    line-height: 63px;
}
.det_box1_inner>.common3>li>a:hover,.det_box1_inner>.common3>li>a:focus{
    color: #ff6700;
}
.det_box1_inner>.det_box1_u2{
    float: right;
}

.det_box1_inner>.det_box1_u2>li::before{
    content: " ";
    width: 1px;
    height: 13px;
    background: #e0e0e0;
    position: absolute;
    top: 27px;
    left: 0;
}
.det_box1_inner>.det_box1_u2>li:first-child::before{
    display: none;
}
/* 主内容区 */
#det_main{
    background: white;
    padding-top: 25px;
    min-width: 1226px;
}
/* 主内容区版心 */

/* 轮播图区域 */
.det_swiper_container{
    float: left;
    width: 606px;
}
/* 轮播图区域图片 */
.det_swiper_container .det_swiper{
    width: 560px;
    height: 566px;
    position: relative;
}
.det_swiper_container .det_swiper .det_swiper_imgs{
    width: 560px;
    height: 100%;
}
.det_swiper_container .det_swiper .det_swiper_imgs .det_img{
    position: absolute;/* 目的是让图片脱离文档流*/
    width: 560px;
    height: 560px;
}
/* 轮播图控制器 */
.det_swiper_container .det_swiper .det_swiper_controls .det_control_bottom{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 20px;

}
.det_swiper_container .det_swiper .det_swiper_controls .det_control_bottom span{
    display: inline-block;
    width: 50px;
    height: 3px;
    background: #d6d6d6;
    margin-left: 8px;
    cursor: pointer;
}
.det_swiper_container .det_swiper .det_swiper_controls .det_control_bottom span:first-child{
    margin-left: 0;
}
.det_control_active{
    background: orange;
}
.det_swiper_container .det_swiper .det_swiper_controls .det_control_prev{
    position: absolute;
    left: 0;
    top: 50%;
}
.det_swiper_container .det_swiper .det_swiper_controls .det_control_next{
    position: absolute;
    right: 0;
    top: 50%;
}
.det_swiper_container .det_swiper .det_swiper_controls i{
    color: #dbdbdb;
    font-size: 32px;
}

/* 右侧产品信息 */
.productInfo{
    width: 600px;
    margin-left: 20px;
    min-height: 1980px;
    float: right;
}
.productInfo .shop_info{
    width: 100%;
    height: 1813px;
}
.productInfo .shop_info .shop_id{
    display: none;
}
.productInfo .shop_info .shop_name{
    font-size: 24px;
    font-weight: 400;
    color: #212121;
}
.productInfo .shop_info .shop_img{
    display: none;
}
.productInfo .shop_info .shop_img>img{
    width: 80px;
    height: 80px;
}
.productInfo .shop_info .shop_price{
    font-size: 18px;
    color: #ff6700;
    padding: 12px 0 10px;
}
.productInfo .shop_info .shop_price>span{
    display: inline-block;
}
.productInfo .shop_info .shop_price>del{
    color: #b0b0b0;
    margin-left: 5px;
    font-size: 14px;
}
.productInfo .shop_info .shop_num{
    display: none;
}
.productInfo .btn_box{
    width: 100%;
    height: 54px;
    margin: 10px 0 20px 0;
}
.productInfo .btn_box .btn_box_innerLeft{
    width: 300px;
    height: 54px;
    float: left;
    margin-right: 10px;
    background: #ff6700;
}
.productInfo .btn_box .common_a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 54px;
    font-size: 16px;
}
.productInfo .btn_box .btn_box_innerRight{
    width: 142px;
    height: 54px;
    float: left;
    background: #b0b0b0;
}

.productInfo .after_sale_info{
    width: 100%;
    height: 83px;
}